<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1><%= safe_title %></h1>
    <p>Comic #: <%= num %></p>
    <p>Date Created: <%= month + '/' + day + '/' + year %></p>
    <p>Number of times visted: <%= num_times %></p>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" alt=<%= alt %> src=<%= img %>>
</div>


</main>

</body>
</html>